 @media screen and (max-width: 480px) {
  .nav-logo{
    padding-top: 10px;
  }
  .logo{
  	display: inherit;
  }
  .carousel{
    margin-top: 80px;
  }
  .carousel-item{
    max-height: 100%;
  }
}
@media screen and (min-width: 480px) {
  .nav-items{
  	display: inherit;
  }
  .menu-icon{
  	display: none;
  }
}
