body{
	background-image: url(../img/bgchurch.jpg);
	background-repeat: no-repeat;
  	background-attachment:fixed;
  	background-position:fixed;
  	background-size:cover;
}
.navbar{

}
.logo{
	display: none;
}
.logo img{
	width: 10%;
}
.logo-name{
	float: right;
}
.bg-section{
	background-color: rgba(232, 232, 232, .5);
}
.bg-footer{
	background-color: rgba(0, 0, 0);
}
.mobile-nav{
	position: absolute;
	z-index: 2;
	background: rgba(255,255,255,.9);
	width: 100%;
	display: none;
	transition: 0.5s;
}
#nav-close{
	display: none;
}
.nav-item:hover{
	background-color: rgba(255,255,0,0.7);
	color: black;
}
#navbar {
  overflow: hidden;
  z-index: 5;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 20px;
  background-image: url(../img/bgchurch.jpg);
}
.carousel-item{
	max-height: 500px;
}
.about-card{
	min-height: 250px;
}
